*{
  margin: 0;
}
body{
  color: black;
}

/* Panel */
/* Layout */
.body_panel{
  color:  white;
}

.menu {
  position:fixed;
}

.right_part{
  width:80%;
  float: right;
}

.sub_menu {
  position: fixed;
  width: 80%;
  background: blue ;
}

.content{
  margin-top: 100px;
}

main {
  background: white;
}

/* Menu */

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: blue;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.li{
  text-align: center;
  margin: 10px;
}
.li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: white;
  color: blue;
}

.li a.active {
  background-color: white;
  color: blue;
}

/* Submenu */

#navbar {
  text-align: center;
  overflow: hidden;
  background-color: blue;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: white;
  color: blue;
}

#navbar a.active {
  background-color: white;
  color: blue;
}


/* Login */
form h1{
  text-align: center;
}
.body_login{
  background: -webkit-linear-gradient(right,blue,white);
  text-align: right;
}

.input {
	width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.input_button {
	background-color: blue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.input_button:hover {
	opacity: 0.8;
}

.login_form {
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
}

.form {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  text-align: right;
}

button.comput {
	background-color: blue;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	width: 100%;
	padding: 8px;
	margin-bottom: 1%;
}

 .container {
  padding: 16px;
}


.forgot_btn {
  width: auto;
  padding: 10px 18px;
  background-color: blue;
  color: white;
  border: 0;
}

.register_btn {
  width: auto;
  padding: 10px 18px;
  background-color: red;
  color: white;
  border: 0;
}

.login_btn {
  width: auto;
  padding: 10px 18px;
  background-color: black;
  color: white;
  border: 0;
}
/* 404 */
.body_404{
  background: -webkit-linear-gradient(right,blue,white);
  color: black;
}

.div_404{
   text-align: center;
   margin-top: 20%;
}

/* Table */
.panel_table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  color: black;
}

.panel_table th, .panel_table td {
  text-align: left;
  padding: 12px;
}

.panel_table tr {
  border-bottom: 1px solid #ddd;
}

.panel_table tr.header, .panel_table tr:hover {
  background-color: #f1f1f1;
}

.show_div{
  text-align: right;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}
